/* www.v2ex.com/new */
#uploadImgBtn {
  float: right;
  display: none;
}

#upload-trigger-btn {
  padding-left: 10px;
}

#upload-trigger-btn:hover {
  cursor: pointer;
  opacity: .7;
}

.not-allow {
  pointer-events: none;
}